<div class="banner-wrapper no_background">
    <div class="banner-wrapper-inner">
        <nav class="kobolg-breadcrumb container"><a href="#" [routerLink]="['/trangchu']">Trang chủ</a><i class="fa fa-angle-right"></i>
            <a href="#" [routerLink]="['/loaimon',loaimon.id]">{{loaimon.tenloai}}</a>
            <i class="fa fa-angle-right"></i>{{item.tenmon}}
        </nav>
    </div>
</div>
<div class="single-thumb-vertical main-container shop-page no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="kobolg-notices-wrapper"></div>
                <div id="product-27" class="post-27 product type-product status-publish has-post-thumbnail product_cat-table product_cat-new-arrivals product_cat-lamp product_tag-table product_tag-sock first instock shipping-taxable purchasable product-type-variable has-default-attributes">
                    <div class="main-contain-summary">
                        <div class="contain-left has-gallery">
                            <div class="single-left">
                                <div class="kobolg-product-gallery kobolg-product-gallery--with-images kobolg-product-gallery--columns-4 images">
                                    <a href="#" class="kobolg-product-gallery__trigger">
                                        <img draggable="false" class="emoji" alt="🔍" src="https://s.w.org/images/core/emoji/11/svg/1f50d.svg"></a>
                                    <div class="flex-viewport">
                                        <figure class="kobolg-product-gallery__wrapper">
                                            <div class="kobolg-product-gallery__image">
                                                <img alt="img" src="../../../../../assets/images/product/{{item.hinhanh}}">
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="summary entry-summary">
                                <div class="flash">
                                    <span class="onnew"><span class="text">New</span></span>
                                </div>
                                <h1 class="product_title entry-title">{{item.tenmon}}</h1>
                                <p class="price"><span class="kobolg-Price-amount amount"><span
                                        class="kobolg-Price-currencySymbol"></span>{{item.gia.toLocaleString('vi', {style : 'currency', currency : 'VND'}) }}</span>
                                </p>
                                <form class="variations_form cart">
                                    <div class="single_variation_wrap">
                                        <div class="kobolg-variation single_variation"></div>
                                        <div class="kobolg-variation-add-to-cart variations_button">
                                            <div>
                                                <span class="qty-label">Số lượng:</span>
                                                <div>
                                                    <!-- <a class="btn-number qtyminus quantity-minus" (click)="changequantity(soluong.value)" href="#">-</a>
                                                    <input type="text" #soluong data-step="1" min="1" max="" name="quantity[25]" value="1" title="Qty" class="input-qty input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric">
                                                    <a class="btn-number qtyplus quantity-plus" (click)="changequantity(soluong.value)" href="#">+</a> -->
                                                    <input #soluong (change)="changequantity(soluong.value)" value="1" type="number" min="1" max="10">
                                                </div>
                                            </div>
                                            <br><br>
                                            <button type="button" (click)="addcart(item)" class="single_add_to_cart_button button alt kobolg-variation-selection-needed">
                                                Thêm vào giỏ hàng
                                            </button>
                                            <input name="add-to-cart" value="27" type="hidden">
                                            <input name="product_id" value="27" type="hidden">
                                            <input name="variation_id" class="variation_id" value="0" type="hidden">
                                        </div>
                                    </div>
                                </form>
                                <div class="clear"></div>
                                <div class="kobolg-share-socials">
                                    <h5 class="social-heading">Chia sẻ: </h5>
                                    <a target="_blank" class="facebook" href="#">
                                        <i class="fa fa-facebook-f"></i>
                                    </a>
                                    <a target="_blank" class="twitter" href="#"><i class="fa fa-twitter"></i>
                                    </a>
                                    <a target="_blank" class="pinterest" href="#"> <i class="fa fa-pinterest"></i>
                                    </a>
                                    <a target="_blank" class="googleplus" href="#"><i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kobolg-tabs kobolg-tabs-wrapper">
                        <ul class="tabs dreaming-tabs" role="tablist">
                            <li class="description_tab active" id="tab-title-description" role="tab" aria-controls="tab-description">
                                <a href="#tab-description" (click)="tag=!tag">Chi tiết sản phẩm</a>
                            </li>
                            <li class="reviews_tab" id="tab-title-reviews" role="tab" aria-controls="tab-reviews">
                                <a href="#tab-reviews" (click)="tag=!tag">Bình luận (0)</a>
                            </li>
                        </ul>
                        <div *ngIf="tag" class="kobolg-Tabs-panel kobolg-Tabs-panel--description panel entry-content kobolg-tab" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">
                            <h2>Mô tả</h2>
                            <div class="container-table">
                                <div class="container-cell">
                                    <h2 class="az_custom_heading">Platea viverra aenean<br>dictumst</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit scelerisque integer, quam dapibus per risus donec semper vulputate interdum, imperdiet mus rhoncus commodo ultricies class urna tincidunt. Imperdiet vitae lacus
                                        etiam metus ut nisl curae, conubia enim scelerisque quis facilisis torquent, ultricies orci faucibus dictumst mauris curabitur. Massa risus nec sociosqu fames montes accumsan iaculis justo turpis luctus
                                    </p>
                                </div>
                                <div class="container-cell">
                                    <div class="az_single_image-wrapper az_box_border_grey">
                                        <img src="assets/images/single-pro1.jpg" class="az_single_image-img attachment-full" alt="img"></div>
                                </div>
                            </div>
                            <div class="container-table">
                                <div class="container-cell">
                                    <div class="az_single_image-wrapper az_box_border_grey">
                                        <img src="assets/images/single-pro2.jpg" class="az_single_image-img attachment-full" alt="img"></div>
                                </div>
                                <div class="container-cell">
                                    <h2 class="az_custom_heading">
                                        Potenti praesent molestie<br> at viverra</h2>
                                    <p>This generator uses a dictionary of Latin words to construct passages of Lorem Ipsum text that meet your desired length. The sentence and paragraph durations and punctuation dispersal are calculated using Gaussian distribution,
                                        based on statistical analysis of real world texts. This ensures that the generated Lorem Ipsum text is unique, free of repetition and also resembles readable text as much as possible.</p>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!tag" class="kobolg-Tabs-panel kobolg-Tabs-panel--reviews panel entry-content kobolg-tab" id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews">
                            <div id="reviews" class="kobolg-Reviews">
                                <div id="comments">
                                    <h2 class="kobolg-Reviews-title">Nhận xét</h2>
                                    <p class="kobolg-noreviews">Hiện tại không có đánh giá nào.</p>
                                </div>
                                <div id="review_form_wrapper">
                                    <div id="review_form">
                                        <div id="respond" class="comment-respond">
                                            <span id="reply-title" class="comment-reply-title">Hãy là người đầu tiên nhận xét “{{item.tenmon}}”</span>
                                            <form id="commentform" class="comment-form">
                                                <p class="comment-notes"><span id="email-notes">Địa chỉ email của bạn sẽ không được xuất bản.</span> Các trường bắt buộc được đánh dấu <span class="required">*</span></p>
                                                <p class="comment-form-author">
                                                    <label for="author">Name&nbsp;<span
                                                            class="required">*</span></label>
                                                    <input id="author" name="author" value="" size="30" required="" type="text"></p>
                                                <p class="comment-form-email"><label for="email">Gmail&nbsp;
                                                    <span class="required">*</span></label>
                                                    <input id="email" name="email" value="" size="30" required="" type="email"></p>
                                                <div class="comment-form-rating"><label for="rating">Đánh giá</label>
                                                    <p class="stars">
                                                        <span>
                                                        <a class="star-1" href="#">1</a>
                                                        <a class="star-2" href="#">2</a>
                                                        <a class="star-3" href="#">3</a>
                                                        <a class="star-4" href="#">4</a>
                                                        <a class="star-5" href="#">5</a>
                                                        </span>
                                                    </p>
                                                    <select title="product_cat" name="rating" id="rating" required="" style="display: none;">
                                                        <option value="">Rate…</option>
                                                        <option value="5">Perfect</option>
                                                        <option value="4">Good</option>
                                                        <option value="3">Average</option>
                                                        <option value="2">Not that bad</option>
                                                        <option value="1">Very poor</option>
                                                    </select></div>
                                                <p class="comment-form-comment"><label for="comment">Your
                                                    Bình luận&nbsp;<span class="required">*</span></label><textarea id="comment" name="comment" cols="45" rows="8" required=""></textarea></p><input name="wpml_language_code" value="en" type="hidden">
                                                <p class="form-submit"><input name="submit" id="submit" class="submit" value="Submit" type="submit"> <input name="comment_post_ID" value="27" id="comment_post_ID" type="hidden">
                                                    <input name="comment_parent" id="comment_parent" value="0" type="hidden">
                                                </p>
                                            </form>
                                        </div>
                                        <!-- #respond -->
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 dreaming_related-product">
                <div class="block-title">
                    <h2 class="product-grid-title">
                        <span>Sản phẩm liên quan</span>
                    </h2>
                </div>
                <div class="row">
                    <ng-container *ngFor="let sp of itemlienquan">
                        <div class="col-sm-6 col-lg-3">
                            <div class="single-publication">
                                <figure>
                                    <a href="#"><img src="../../../../../assets/images/product/{{sp.hinhanh}}" alt="Publication Image"></a>

                                    <ul>
                                        <li><a href="#" title="Thêm giỏ hàng"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#" title="Xem chi tiết"><i class="fa fa-search"></i></a></li>
                                    </ul>
                                </figure>

                                <div class="publication-content">
                                    <h3><a href="#">{{sp.tenmon}}</a></h3>
                                    <h4 class="price" style="color: black;">{{sp.gia.toLocaleString('vi', {style : 'currency', currency : 'VND'})}}</h4>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>