<!-- End of Topbar -->
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Thống kê</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Doanh thu {{ngay_thang}}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{tong_ngay.toLocaleString('vi', {style : 'currency', currency : 'VND'})}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Doanh thu tháng {{thang}}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{tong_thang.toLocaleString('vi', {style : 'currency', currency : 'VND'})}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Đơn hàng đã giao</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{phan_tram}}%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{'width.%':phan_tram}" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Bình luận</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{binh_luan}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Doanh thu</h6>
                </div>
                <div class="card-body">
                    <ng-container *ngFor="let dt of tong_tien; let i = index;">
                        <h4 class="small font-weight-bold">Tháng {{i+1}} <span class="float-right">{{dt.toLocaleString('vi', {style : 'currency', currency : 'VND'})}}</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width.%':dt/10000}" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </ng-container>
                </div>
            </div>

        </div>

        <div class="col-lg-6 mb-4">

            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Đánh giá kém</h6>
                </div>
                <div class="card-body">
                    <ng-container *ngFor="let it of danh_gia;let i = index;">
                        <div class="media">
                            <img src="../../../../assets/images/user/{{it.hinhanh}}" style="width: 40px; height: 40px;" class="mr-3" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0">{{it.hoten}}
                                    <span class="fa fa-star" [ngClass]="{checked:it.rate>=1?true:false}"></span>
                                    <span class="fa fa-star" [ngClass]="{checked:it.rate>=2?true:false}"></span>
                                    <span class="fa fa-star" [ngClass]="{checked:it.rate>=3?true:false}"></span>
                                    <span class="fa fa-star" [ngClass]="{checked:it.rate>=4?true:false}"></span>
                                    <span class="fa fa-star" [ngClass]="{checked:it.rate>=5?true:false}"></span>
                                </h5>
                                {{it.noidung}}
                            </div>
                            <span>
                                <button class="btn btn-success" *ngIf="it.trangthai==0">Ẩn</button>
                                <button class="btn btn-warning" *ngIf="it.trangthai==1">Hiển</button>
                            </span>
                        </div>
                        <hr *ngIf="i != (danh_gia.length-1)">
                    </ng-container>
                </div>
            </div>

            <!-- Approach -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                </div>
                <div class="card-body">
                    <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page performance. Custom CSS classes are used to create custom components and custom utility classes.</p>
                    <p class="mb-0">Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.</p>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- /.container-fluid -->