<div class="error-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="error-text">
                    <h1 class="error" style="font-size: 30px;">404 Lỗi! Không tìm thấy trang</h1>
                    <div class="im-sheep">
                        <div class="top">
                            <div class="body"></div>
                            <div class="head">
                                <div class="im-eye one"></div>
                                <div class="im-eye two"></div>
                                <div class="im-ear one"></div>
                                <div class="im-ear two"></div>
                            </div>
                        </div>
                        <div class="im-legs">
                            <div class="im-leg"></div>
                            <div class="im-leg"></div>
                            <div class="im-leg"></div>
                            <div class="im-leg"></div>
                        </div>
                    </div>
                    <h4>Oops! Không thể tìm thấy trang này!</h4>
                    <p>Xin lỗi, trang bạn đang tìm kiếm không tồn tại, đã bị xóa hoặc thay đổi tên.</p>
                    <!-- <a href="#" [routerLink]="['/trangchu']" class="btn btn-primary btn-round">Quay về trang chủ</a> -->
                </div>
            </div>
        </div>
    </div>
</div>