<p-toast></p-toast>
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Quản lý bộ phận</h1>
    <p class="mb-4">Quản lý bộ phận trong nhà hàng</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-sm-8">
                    <h6 class="m-0 font-weight-bold text-primary">Danh sách bộ phận</h6>
                </div>
                <div class="col-sm-4">
                    <span class="p-buttonset">
                        <button pButton pRipple data-toggle="modal" data-target="#exampleModal" (click)="showDialog()" label="Thêm" icon="pi pi-plus" styleClass="p-button-sm"></button>
                        <button pButton pRipple class="p-button-success" label="Xuất file" icon="pi pi-file-excel" styleClass="p-button-sm"></button>
                        <button pButton pRipple class="p-button-danger" label="Xuất file" icon="pi pi-file-pdf" styleClass="p-button-sm"></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card">
                <p-table [value]="item" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Mã bộ phận</th>
                            <th>Tên bộ phận</th>
                            <th>Chức năng</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.tenbp}}</td>
                            <td>
                                <span class="p-buttonset">
                                    <button pButton icon="pi pi-external-link" data-toggle="modal" data-target="#exampleModal" (click)="showDialogedit(item.id)" pRipple styleClass="p-button-sm"></button>
                                    <button pButton pRipple class="p-button-warning" (click) = "deletebp(item.id)" icon="pi pi-trash" styleClass="p-button-sm"></button>
                                    <button pButton pRipple class="p-button-secondary" icon="pi pi-refresh" styleClass="p-button-sm"></button>
                                </span>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft">
                        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                    </ng-template>
                    <ng-template pTemplate="paginatorright">
                        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin người dùng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputPassword1">Tên bộ phận</label>
                    <input type="text" #tenbp [ngModel]="txtbophan" class="form-control" id="exampleInputPassword1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="insert(tenbp.value)">Lưu</button>
            </div>
        </div>
    </div>
</div>