<div class="fullwidth-template">
    <div class="slide-home-01">
        <div class="container">
            <div class="response-product product-list-owl owl-slick equal-container better-height" data-slick="{&quot;arrows&quot;:false,&quot;slidesMargin&quot;:0,&quot;dots&quot;:true,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:1,&quot;rows&quot;:1}"
                data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesMargin&quot;:&quot;0&quot;}}]">
                <div class="slide-wrap">
                    <img src="../../../../assets/images/banner/banner1.png" style="width: 1170px; height: 600px !important;" alt="image">
                    <div class="slide-info">
                        <div class="slide-inner">
                            <h5>Black Friday</h5>
                            <h1>Electronics</h1>
                            <h2>New Arrivals</h2>
                            <a href="#">Xem ngay</a>
                        </div>
                    </div>
                </div>
                <div class="slide-wrap">
                    <img src="assets/images/slide12.jpg" alt="image">
                    <div class="slide-info">
                        <div class="slide-inner">
                            <h5>Best Selling</h5>
                            <h1><span>Life Compani</span></h1>
                            <h2>Smartphone</h2>
                            <a href="#">Xem ngay</a>
                        </div>
                    </div>
                </div>
                <div class="slide-wrap">
                    <img src="assets/images/slide13.jpg" alt="image">
                    <div class="slide-info">
                        <div class="slide-inner">
                            <h5>This Week Only</h5>
                            <h1>Up Sale To</h1>
                            <h2>50% Off</h2>
                            <a href="#">Xem ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-003 section-002">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="kobolg-banner style-01">
                        <div class="banner-inner">
                            <figure class="banner-thumb">
                                <img src="../../../../assets/images/banner/banner6.jpg" style="width: 570px; height: 292px;" class="attachment-full size-full" alt="img"></figure>
                            <div class="banner-info">
                                <div class="banner-content">
                                    <div class="title-wrap">
                                        <h6 class="title">
                                            Món ăn mới nhất </h6>
                                    </div>
                                    <div class="button-wrap">
                                        <a class="button" target="_self" href="#"><span>Xem ngay</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="kobolg-banner style-01">
                        <div class="banner-inner">
                            <figure class="banner-thumb">
                                <img src="../../../../assets/images/banner/banner5.jpg" style="width: 570px; height: 292px;" class="attachment-full size-full" alt="img"></figure>
                            <div class="banner-info">
                                <div class="banner-content">
                                    <div class="title-wrap">
                                        <h6 class="title">
                                            Món ăn nổi bật nhất </h6>
                                    </div>
                                    <div class="button-wrap">
                                        <a class="button" target="_self" href="#"><span>Xem ngay</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-001">
        <app-productbest></app-productbest>
    </div>
    <div class="section-038">
        <div class="kobolg-banner style-07 left-center">
            <div class="banner-inner">
                <figure class="banner-thumb">
                    <img src="../../../../assets/images/system/banner2.jpg" style="height: 270px;" class="attachment-full size-full" alt="img"></figure>
                <div class="banner-info container">
                    <div class="banner-content">
                        <div class="title-wrap">
                            <div class="banner-label">
                                King's BBQ
                            </div>
                            <h6 class="title">
                                King BBQ Alacart </h6>
                        </div>
                        <div class="button-wrap">
                            <div class="subtitle">
                                Menu KingBBQ đem đến cho khách hàng hơn 200 món ăn, được chắt lọc từ Tinh hoa ẩm thực Hàn Quốc.
                            </div>
                            <a class="button" target="_self" href="#"><span>Xem ngay</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-001">
        <div class="container">
            <app-productnew></app-productnew>
        </div>
    </div>
    <div class="section-038">
        <div class="kobolg-banner style-07 left-center">
            <div class="banner-inner">
                <figure class="banner-thumb">
                    <img src="../../../../assets/images/system/banner1.jpg" class="attachment-full size-full" alt="img"></figure>
                <div class="banner-info container">
                    <div class="banner-content">
                        <div class="title-wrap">
                            <div class="banner-label">
                                King's Buffet
                            </div>
                            <h6 class="title">
                                Buffet Vua nướng Hàn Quốc </h6>
                        </div>
                        <div class="button-wrap">
                            <div class="subtitle">
                                Không gian nhà hàng được thiết kế sang trọng, ấm cúng mang những nét đặc trưng của xứ sở Kim Chi.
                            </div>
                            <a class="button" target="_self" href="#"><span>Xem ngay</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-001">
        <div class="container">
            <div class="kobolg-heading style-01">
                <div class="heading-inner">
                    <h3 class="title">
                        Tin tức</h3>
                    <div class="subtitle">
                        Nơi chứa những ưu đãi hấp dẫn, những thông tin về món ăn, những mẹo vặt giúp cho bữa ăn của quý khách thêm ngon miệng hơn
                    </div>
                </div>
            </div>
            <div class="kobolg-blog style-01">
                <div class="row">
                    <ng-container *ngFor="let tt of itemblog">
                        <article class="col-sm-4">
                            <div class="post-inner blog-grid">
                                <div class="post-thumb">
                                    <a href="#" tabindex="0">
                                        <img src="../../../../assets/images/blog/{{tt.hinhanh}}" style="width: 370px; height: 330px;" class="img-responsive attachment-370x330 size-370x330" alt="img" width="370" height="330"> </a>
                                    <a class="datebox" href="#" tabindex="0">
                                        <span>{{tt.ngaydang| date:'dd'}}</span>
                                        <span>{{tt.ngaydang| date:'MM'}}</span>
                                    </a>
                                </div>
                                <div class="post-content">
                                    <div class="post-meta">
                                        <!-- <div class="post-author">
                                            By:<a href="#" tabindex="0">
                                            admin </a>
                                        </div> -->
                                        <div class="post-comment-icon">
                                            <a href="#" tabindex="0"><img src="https://img.icons8.com/android/10/000000/visible.png" /> {{tt.luotxem}} </a>
                                        </div>
                                    </div>
                                    <div class="post-info equal-elem">
                                        <h2 class="post-title"><a href="#" tabindex="0">{{tt.tieude}}</a></h2>
                                        {{tt.tomtat.split(' ').length
                                        < 25 ? tt.tomtat : splittomtat(tt.tomtat)}} </div>
                                    </div>
                                </div>
                        </article>
                    </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-014">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="kobolg-iconbox style-02">
                            <div class="iconbox-inner">
                                <div class="icon">
                                    <span class="flaticon-rocket-launch"></span>
                                </div>
                                <div class="content">
                                    <h4 class="title">Giao hàng trên toàn quốc</h4>
                                    <div class="desc">Với các trang web bằng 5 ngôn ngữ, chúng tôi giao hàng đến hơn 200 quốc gia &amp; vùng.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="kobolg-iconbox style-02">
                            <div class="iconbox-inner">
                                <div class="icon">
                                    <span class="flaticon-truck"></span>
                                </div>
                                <div class="content">
                                    <h4 class="title">Vận chuyển an toàn</h4>
                                    <div class="desc">Thanh toán bằng các phương thức thanh toán an toàn và phổ biến nhất trên thế giới.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="kobolg-iconbox style-02">
                            <div class="iconbox-inner">
                                <div class="icon">
                                    <span class="flaticon-reload"></span>
                                </div>
                                <div class="content">
                                    <h4 class="title">365 ngày</h4>
                                    <div class="desc">Hỗ trợ suốt ngày đêm để có trải nghiệm bữa ăn ngon miệng.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="kobolg-iconbox style-02">
                            <div class="iconbox-inner">
                                <div class="icon">
                                    <span class="flaticon-telemarketer"></span>
                                </div>
                                <div class="content">
                                    <h4 class="title">An toàn</h4>
                                    <div class="desc">Đảm bảo an toàn thực phẩm
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>